{% extends 'base.html' %}

{% block title %}
  <title>ZLATNIC - Password change</title>
{% endblock %}

{% block content %}
  <div class="yellow_plate">
    <form method="post" class="registration fit_content">
      {% csrf_token %}
      <h1 class="regular_text_shadow">Change Password</h1>
      {% for field in form %}
        <div class="big_plate">
          {{ field }}
          {% if field.help_text %}
            <div class="text_shadow text_alignment">{{ field.help_text|safe }}</div>
          {% endif %}
          {% if field.errors %}
            <div class="error_message">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}
      <input type="submit" value="Change password" class="button orange_background text_shadow" />
    </form>
  </div>
{% endblock %}
